@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(13, 2, 32);
    padding: 130px 0 0 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: rgb(15, 20, 22);
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: absolute;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: rgb(113, 217, 255);
    display: block;
}

.menu .navbar ul li a:hover {
    color: rgb(227, 217, 241);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: static;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: rgba(39, 136, 174, 0.947);
    padding: 20px;
    min-width: 400px;
}

table{
    width: 100%;
}

th, td {
    color: rgb(168, 234, 248);
}

.borrar {
    background-color: rgb(243, 233, 253);
    border-radius: 50%;
    padding: 5px 10px;
    color: rgb(0, 2, 3);
    font-weight: 800;
    cursor: pointer;
}

.header.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 25px;
}

.span {
    color: rgb(143, 119, 211);
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}

.header-txt h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: rgba(56, 163, 250, 0.953);
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin-bottom: 35px;
}

.butons {
    display: flex;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: rgb(154, 109, 197);
    margin-right: 20px;
    color: rgb(78, 248, 248);
    text-transform: capitalize;
    margin-bottom: 100px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}
 .header-img img {
    height: 550px;
 }

 .oferts {
    padding: 100px 0;
    display:  flex;
    justify-content: space-between;
 }

 .ofert-1 {
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .b1 {
    background-color: rgb(223, 80, 80);
 }

 .b2 {
    background-color: rgb(243, 85, 85);
 }

 .b3 {
    background-color: rgb(213, 240, 77);
 }
 .ofert-txt {
    flex-basis: 50%;
 }
 .ofert-txt h3 {
    color: aliceblue;
    font-size: 20px;
 }
 .ofert-txt a {
    color: aliceblue;
 }
 .ofert-img {
    flex-basis: 50%;
 }
 .products {
    padding: 0 0 50px 0;
    text-align: center;
 }
 h2 {
    font-size: 40px;
    color: black;
 }

 .box-container {
    margin-top: 55px;
    display: drid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
 }
 .box {
    border-top: 2px solid rgb(16, 1, 46);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
    display: none;
 }
 .box:nth-child(1),
 .box:nth-child(2),
 .box:nth-child(3),
 .box:nth-child(4),
 .box:nth-child(5) {
    display: inline-block;
 }

 .box img {
    height: 200px;
 }

 .product-txt h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
 }
 .product-txt p {
    margin-bottom: 25px;
    color: rgb(0, 0, 0) ;
 }

 .precio {
    font-size: 17px;
    font-weight: 700;
    color: rgb(7, 89, 100) !important ;
 }

 .btn-2, .btn-3 {
    background-color: aqua;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }

 .btn-2:hover, .btn-3:hover, .btn-1:hover {
    background-color: aqua;
 }

 .btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
 }

.testimonial {
    padding: 100px 0;
    text-align: center;
}

.testimonial-content {
    display: flex
}

.testimonial-1 {
    flex-basis: calc(50% - 20px);
    padding: 50px;
    text-align: left;
    background-color: aliceblue;
    border-top: 5px solid rgb(113, 217, 255);
}

.testimonial-1 img {
    width: 100px;
}

.testimonial-1 h4 {
    font-size: 17px;
    color: rgb(10, 0, 0);
}

.testimonial-1 p {
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
}

.footer {
    background-color: rgb(12, 1, 39);
    padding: 100px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: rgb(147, 197, 240);
    font-size: 18px;
    margin-bottom: 15px;
}

.link a  {
    color: antiquewhite;
}

.link a:hover {
    color: rgb(13, 236, 236);
}

@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #0d3d4e;
        display: none;
    }

    .menu .navbar ul li {
        width: 100;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: initial;
    }

    .logo {
        display: none;
    }

    .menu .navbar ul il a:hover {
        color: #ffffff;
    }

    .submenu:hover #carrito {
        width: 100%;
    }

    .header {
        padding: 50px 0 0 0;
    }

    .header.content {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-right: 0;
    }

    .butons{
        justify-content: center;
    }

    .btn-1 {
        margin-bottom: 0;
    }

    .header-img {
        display: none;
    }

    .oferts {
        padding: 30px;
        flex-direction: column;
    }

    .oferts-1 {
        margin-bottom: 15px;
    }

    .products {
        padding: 0 30px 30px 30px;
    }

    .testimonial {
        padding: 30px;
    }

    .testimonial-content {
        margin-top: 20px;
        flex-direction: column;
    }

    .testimonial-1 {
        padding: 25px;
        margin-bottom: 25px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }


}